.addingPost{
  margin-bottom: 15px;
  display: flex;
  align-items: flex-end;
  &__input{
    height: 100px;
  }
  &__button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    text-align: center;
    transition: all 0.3s ease 0s;
    min-height: 35px;
    background-color: deepskyblue;
    color: #fff;
    margin-left: 15px;
    @media(any-hover: hover){
      &:hover{
        background-color: #0091c3;
      }
    }
  }
}
