.contentPage {
  margin-left: 20px;
  &__body {
    color: #fff;
    display: grid;
    grid-template-rows: 1fr;
    gap: 10px;
    padding-bottom: 40px;
  }
  &__profile{

  }
  &__messages{

  }
}



