.profile{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  &__avatar {
    align-self: start;
    background-color: #69adf6;
    padding: 15px;
    img{
      width: 250px;
    }
  }
  &__information {}

}

.informationProfile {
  background-color: #69adf6;
  padding: 20px 10px 20px 20px;
  &__name {
    font-family: "Century Gothic", monospace;
    line-height: 1.5;
    font-size: 26px;
    font-weight: 600;
  }
  &__description{
    font-size: 18px;
  }
  &__birth {
  }
  &__city {
  }
  &__edu {
  }
  &__posts{
    margin-top: 20px;
    &__addPost{

    }
  }
  &__post{
    :not(:last-child){
      margin-bottom: 10px;
    }
  }
}
