@import 'Header';
@import 'Footer';
@import "null";

.wrapper{
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body{
  max-width: 100%;
}

.page {
  flex: 1 1 auto;
  &__body{
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 100px 1fr;
    padding-top: 70px;
  }
}

.navigation-page{
  &__body{
    display: flex;
    flex-direction: column;
    background-color: #69adf6;
    padding: 15px 40px 15px 10px;
    }
  &__link{
    a{
      color: #fff;
    }
    &:not(:last-child){
      margin-bottom: 5px;
    }
  }

}

.content-page {
  margin-left: 20px;
  &__body {
    color: #fff;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }
  &__user{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
  }
  &__avatar {
    background-color: #69adf6;
    padding: 15px;
    img{
      width: 250px;
    }
  }
  &__information {}
}
.information-page {
  background-color: #69adf6;
  padding: 20px 10px 20px 20px;
  &__name {
    font-family: "Century Gothic", monospace;
    line-height: 1.5;
    font-size: 26px;
    font-weight: 600;
  }
  &__birth {
    font-size: 18px;
  }
  &__city {
    font-size: 18px;
  }
  &__edu {
    font-size: 18px;
  }
}
